<% content_for :title, 'Thanks for Your Service Request!' %>
<p>Thank you for contacting Stephen Hirschthal Photography. Stephen will try to get back to you within 24 hours.</p>
<p>If you need service in the meantime, please contact Stephen by calling him at <b>860-983-8120</b>.</p>
