<div id="slider-bs">

</div>

<script>
$(document).ready(function(){

  $("#slider-bs").backstretch(["assets/penny.jpg","assets/fox.jpg","assets/car.jpg"], {duration: 3000, fade: 750});

});
</script>
