<div class="row">
  <div class="span12 front-carousel-container">
    <div class="carousel" id="carousel">
      <div class="carousel-inner">
        <% galleries.each_with_index do |gallery, idx| %>
        <div class="item<%= ' active' if idx == 0 %>">
          <%= link_to( image_tag(gallery.cover.thumb('940x500!').url), gallery_url(gallery) ) %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>