
<ul class="media-list frontpage">
  <% recent_posts.each do |post| %>
  <li class="media">
    <a class="pull-left" href="#">
     <!--  <img class="media-object" src="assets/car.jpg" width="100"> -->
   <%= image_tag(post.image.thumb('100x100').url, class: "media-object") if post.image_uid %>
    </a>
    <div class="media-body">
      <h2 class="media-heading"><%= link_to(truncate(post.title, length: 32), post_url(post)) %>
      </h2>
      <%= truncate(post.body, length: 250) %>
    </div>
  </li>
  <% end %>
</ul>


