
<ul class="media-list frontpage">
  <% recent_posts.each do |post| %>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="assets/car.jpg" width="100">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      <%= link_to(truncate(post.title, :length => 32), post_url(post)) %>
    </div>
  </li>
  <% end %>
</ul>


