 <div class="background-pic">
   <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <strong id="logo">Acme Corp</strong>
        <h1>The quick brown fox jumped over the lazy dog</h1>
        <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Launching soon.</h2>
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-12 text-center">
        <form class="form-inline" role="form">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter email">
          </div>
          <button type="submit" class="btn btn-primary">Notify Me</button>
        </form>
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-12 text-center" id="links">
        <p>
          <a href="http://coverstrap.com">
            <span class="glyphicon glyphicon-home"></span>
            From Coverstrap
          </a>
          <span class="separator">&middot;</span>
          <a href="#">
            <span class="glyphicon glyphicon-user"></span>
            About Us
          </a>
          <span class="separator">&middot;</span>
          <a href="#">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            Like Us
          </a>
          <span class="separator">&middot;</span>
          <a href="#">
            <span class="glyphicon glyphicon-envelope"></span>
            Contact Us
          </a>
        </p>
      </div> <!-- #links -->
    </div> <!-- /.row -->

  </div> <!-- /.container -->
    <!--
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
    -->
</div>