<div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <div style="font-family: 'Yellowtail';"id="logo" class="welcome-title">Stephen Hirschthal Photography</div>
        <!-- <h1>Professional Photography with an Artistic Touch</h1> -->
      <!--   <h2></h2> -->
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->

    <div class="row">
      <div id="welcome-button-div" class="col-md-12 text-center">
        <form class="form-inline" role="form" action="/">
          <div class="form-group">
          <button id="welcome-enter" type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-log-in"></span> Enter</button>
        </form>
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-12 text-center" id="links">
        <p>
          <a class="welcome-link" href="http://coverstrap.com">
            <span class="glyphicon glyphicon-home"></span>
            From Coverstrap
          </a>
          <span class="separator">&middot;</span>
          <a class="welcome-link" href="#">
            <span class="glyphicon glyphicon-user"></span>
            About Us
          </a>
          <span class="separator">&middot;</span>
          <a class="welcome-link" href="#">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            Like Us
          </a>
          <span class="separator">&middot;</span>
          <a class="welcome-link" href="#">
            <span class="glyphicon glyphicon-envelope"></span>
            Contact Us
          </a>
        </p>
      </div> <!-- #links -->
    </div> <!-- /.row -->

  </div> <!-- /.container -->

      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
