<div class="container">

  <div id="welcome-logo-container">
  <%= image_tag("/assets/logos/SHPlogo-1.png", width: "400", id: "frontpage-logo-image") %>
</div>


    <div class="row">
      <div class="col-md-12 text-center">
        <div id="logo" class="welcome-title">Stephen Hirschthal Photography</div>
        <!-- <h1>Professional Photography with an Artistic Touch</h1> -->
      <!--   <h2></h2> -->
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->

    <div class="row">
      <div id="welcome-button-div" class="col-md-12 text-center">
        <form class="form-inline" role="form" action="/homepage">
          <div class="form-group">
          <button id="welcome-enter" type="submit" class="btn btn-primary">Click to Enter</button>
        </form>
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-12 text-center" id="links">
        <p>
          <a class="welcome-link" href="http://shprophoto.com">
            <span class="glyphicon glyphicon-home"></span>
            Mainpage
          </a>
          <span class="separator">&middot;</span>
          <a class="welcome-link" href="/pages/1-about-stephen">
            <span class="glyphicon glyphicon-user"></span>
            About Us
          </a>
          <span class="separator">&middot;</span>
          <a class="welcome-link" href="https://www.linkedin.com/pub/stephen-hirschthal/57/aa6/b03">
            <span class="glyphicon glyphicon-blog"></span>
            LinkedIn
          </a>
          <span class="separator">&middot;</span>
          <a class="welcome-link" href="http://www.facebook.com/sharer.php?u=http://shprophoto.com/">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            Like Us
          </a>
          <span class="separator">&middot;</span>
          <a class="welcome-link" href="/contact_requests/new">
            <span class="glyphicon glyphicon-envelope"></span>
            Contact Us
          </a>
        </p>
      </div> <!-- #links -->
    </div> <!-- /.row -->

  </div> <!-- /.container -->

      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
