ul.blog-post-list{
  margin-left: 0;
  list-style: none;
}

ul.blog-post-list li h2{
  font-family: 'Noodle';
}

ul.blog-post-list li a{
  color: #2c3e50;
}

ul.blog-post-list li a:hover{
  color: #18bc9c;
}

ul.blog-post-list li {
  margin-bottom: 40px;
}

.subtitle .label.label-info{
  display: none;
}

ul.blog-post-list li img{
  /*max-width: 200px;
  float: left !important;*/
  display: none;
}

.subtitle .label.label-info{
  display: none;
}

ul.blog-post-list li span.label.label-info{
  display: none;
}

ul.blog-post-list li .post-body-text p, ul.blog-post-list li .post-body-text h1, ul.blog-post-list li .post-body-text h2, ul.blog-post-list li .post-body-text h3, ul.blog-post-list li .post-body-text h4{
 margin-left: 50px;
}

ul.blog-post-list li .post-body-text h2:nth-child(n+1){
  font-size: 20px;
}

ul.blog-post-list li .post-body-text h3:nth-child(n+1){
  font-size: 20px;
}

ul.blog-post-list li .post-body-text h1:nth-child(n+1){
  font-size: 20px;
}

ul.blog-post-list li .post-body-text h1, ul.blog-post-list li .post-body-text h2, ul.blog-post-list li .post-body-text h3, ul.blog-post-list li .post-body-text h4 {
  font-family: 'Gotham Book';
}