#foot-content.span12{
  width: 100% !important;
}

#foot-sole{
  margin: 0 auto;
  text-align: right;
  width: 100%;
}

footer.container{
  font-family: 'Varela Round';
}

footer{
  background: #2c3e50;
}

footer h4{
  size: 28px;
}

#foot-content h4{
  font-family: Yellowtail;
  font-size: 20px;
}
