/*.container#content{
  width: 100%;
}*/

#slider-bs{
  min-height:600px;
  min-width:600px;
  margin-bottom: 50px;
  margin-top: 50px;
  border:2px solid #2c3e50;
  border-radius: 5px !important
}

.jumbotron.masthead{
  background-color:#ecf0f1;
  background-color: transparent;
  /*border:2px solid #2c3e50;*/
}

.panel.panel-primary .panel-heading {
/*color: #ffffff;
background-color: #2c3e50;
border-color: #2c3e50;*/
color: #2c3e50;
background-color: transparent;
border-color: #2c3e50;
}

.panel-heading h1{
  font-size: 42px;
  font-family: 'Yellowtail';
}

.panel-body{
  /*background-color: #ecf0f1;*/
  background-color: transparent;

}

.panel.panel-primary{
  border: none;
}

.marketing .row{
  width: 1000px;
  /* margin: 0 auto;*/
  margin-left: 25px;
}

#tagline-info p{
  margin-top: 15px;
  font-size: 18px;
  font-style: italic;
}

.thumbnail {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
}

.gallery-name {
  background-color: #ecf0f1;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2px;
  font-family: yellowtail;
  text-indent: 5px;
}

.gallery-name .content{
  text-indent: 5px;
}

.gal-button-row{
  text-align: center;
  margin-top: 10px;
}

.gal-button:hover{
  color: #18bc9c !important;
  background-color: !important #ecf0f1;
}

.thumbnail .content{
  min-height: 170px;
}

.thumbnail .content p{
  font-family: "Varela Round";
}

.marketing h2.gallery-name a.marketing-link{
  color: #2c3e50;
}

.gal-description{
  text-indent:5px;
  padding: 10px;
  font-size: 14px;
  padding-bottom:20px;
}

.jumbotron.masthead{
  margin-top: 70px;
}

.navbar-inner{
  background: #2c3e50;
}

.navbar-inner ul li a{
  color: #ecf0f1 !important;
}

.navbar-inner ul li a:hover{
  color: #18bc9c !important;
}

panel .panel-primary {
  border: none;
}

.span12.front-carousel-container{
  float: inherit;
}

.front-carousel-container #carousel.carousel{
  height: 400px;
}
