#foot-content.span12{
  width: 100% !important;
}

div.navbar-inner{
  font-family: 'Gotham Book';
}

#tagline-column{
  margin-top: 15px;
}

footer .container{
  font-family: 'Gotham Book';
}

#foot-sole{
  margin-bottom: 1%;
}

footer{
  background: #2c3e50;
  color: #dddddd;
}

footer h4{
  size: 28px;
}

#foot-content h4{
  font-family: 'Noodle';
  font-size: 20px;
}

footer .pull-right#tagline-info p{
  font-family:'Gotham Book';
  text-align: left;
}

#tagline-info p{
  font-size: 18px;
  font-style: italic;
}

footer #contact-info p{
  font-family: 'Gotham Book' !important;
  font-size: 16px;
  text-align: left;
  color: white;
  font-style: normal !important;
}
footer #contact-info p a{
 color: #dddddd;
}

footer #contact-info p a:hover{
 color: #18bc9c;
}
