#foot-content.span12{
  width: 100% !important;
}

#foot-sole{
  margin: 0 auto;
  text-align: right;
  width: 100%;
}

footer .container{
  font-family: 'Gotham Book';
}

footer{
  background: #2c3e50;
}

footer h4{
  size: 28px;
}

#foot-content h4{
  font-family: 'Noodle';
  font-size: 20px;
}

#foot-sole h4{
  margin-top: 3px;
  margin-bottom: 3px;
}