/*  Headings Noodle or Yellowtail
Body Gotham or Varela Round */

#welcome-logo-container{
/*  margin-top: 10px;*/
  text-align: center;
  margin-right: 10px;
  margin-bottom: -10px;
  margin-top: 10px;
}

#logo.welcome-title{
  font-family: 'Noodle';
  margin-top: 0px;
}

.push-left{
  margin-right: 1%;
}

#center-me{
  width: 100%;
  text-align:center;
  color: white;
}

.stick-to-bottom{
  margin-bottom: 1%;
  position: fixed; bottom: 0;
}

.welcome-link{
 /*color: #000000;*/
 color: white !important;
}

.welcome-title{
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(224, 224, 224);
  color: white !important;
}

.welcome-link:hover, .welcome-link:focus{
 /* color: #2A6496;*/
 color: #18bc9c !important;
}

.welcome-title#logo{
  font-style: normal !important;
}

#welcome-enter{
  font-family: Noodle;
  /* background: transparent;*/
  /*color: #ffffff*/
  /*  font-family: 'Varela Round';*/
  font-size: 24px;
  background-color: rgba(44, 62, 80, 0.1);
  border-color: transparent;
  color: white;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(224, 224, 224);
}

#welcome-enter:hover{
  /*  font-family: Noodle;*/
  /* color: #18bc9c;*/
  /*  border-color: #000000;*/
  background-color: rgba(44, 62, 80, 0.5);

  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(224, 224, 224);
  /*padding-bottom: 15px;
  padding-top: 7px;*/
}


#welcome-button-div{
  margin-top: 25px;
}

#links p{
  font-size: 20px;
  font-family: Noodle;
  margin-bottom: 20px;
}