<p>You received the following contact request from a visitor of SHProPhoto.com. Please do not reply directly to this email but instead to the email address shown below.</p>

Email: <%= @contact_request.email %>
Name: <%= @contact_request.name %>

Message:
<%= @contact_request.message %>
